<h1>Stupid Coaching</h1>

<div id="question">
<p><%= @questions %></p>
<h3>- You</h3>
</div>
<div id="answer">
<p><%= @answer %></p>
<h3>- Coach</h3>
</div>

<p id="link">
<%= link_to "Ask a new question", "/ask" %>
</p>
